@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto|Helvetica');
*,body {
  font-family: 'Helvetica','Roboto',sans-serif;
}

.topWrapper{
  background-image: url("topWrapperBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0 auto;
  margin: 0 auto;
}

.col-md-7{
  padding: 0px;
  margin: 0px;
}

li{
    list-style: none;
}

.navbar-light{
  background-color: transparent !important;
}

.navbar-light .navbar-brand {
    font-size: 2.4em;
    color: white;
}

.navbar-light .navbar-brand:hover {
    font-size: 2.4em;
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 0 20px;
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
  padding: 0 20px;
  color: grey;
}

.btn{
  background-color: #33EBA9;
  color: black;
}

.mottoContainer{
  border:none;
  height: 50vh;
}

#motto{
  margin-top: 20vh;
  margin-bottom: 3vh;
}

#motto h1{
  font-size:3em;
  color:white;
}

.preOrder{
  height: 55px;
  width: 170px
}

.lcdDisplay{
  display:none;
  min-height:100vh;
  padding: 10vh;
  color: black;
  background-image: url("lcdAnnotations.png");
  background-size: 100% 100%;
}

p{
  color: black;
  text-align: justify;
  font-weight: 300;
  line-height:0.8;
}

h3{
  color: black;
  font-weight: 700;
}

.annotation1, .annotation2, .annotation3{
  padding-bottom: 30px;
}

.distractionSec{
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.distractionImageContainer{
  position: relative;
  overflow: hidden;
}

.distractionImageContainer img{
  position: relative;
  max-height: 100%;
}

.distractionTextContainer{
  position: relative;
  padding: 0 5vw;
  background: #F7F7F7;
}

.distractionText{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.distractionText h3{
  font:1.5em
}

.distractionTextPara{
  font-size: 1em;
  padding: 10vh 0;
}

.team{
  padding:11vh 0px;
}

.teamGridRow{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding-left:20px;
  line-height:0.75;
  font-weight: 600;
}

.teamGridRow:first-child{
    padding-bottom: 30px;
}

.teamMember .card{
  position: relative;
  height: 25vh;
  margin-bottom: 10px;
}

.teamMember span{
  font-size: 0.6em;
  font-weight: 100;
}

.bigButtonContainer{
  padding: 0;
  margin: 0;
}
.bigButton{
  width: 100%;
  height:30vh;
  font-size: 3.5em;
  font-weight: 550;
}

.footer{
  background: #1A1A1A;
  padding: 10vh 0;
  color: white;
}
